*.pth
*.onnx
example_prediction_*
__pycache__/*
nohup.out
*.pyc
segment_anything/__pycache__/*
segment_anything/modeling/__pycache__/*
segment_anything/utils/__pycache__/*
*.png
predictions/*.jpg
*.jpg
*.csv
annotation_image_data.csv
sam_vit_b_01ec64.pth
sam_raw.onnx
sam_finetuned.onnx
frontendPrototype/prototypeVirtualEnvironment/Lib/site-packages/torch/lib/dnnl.lib
frontendPrototype/prototypeVirtualEnvironment/Lib/site-packages/torch/lib/torch_cpu.dll