{% extends 'base.html' %}

{% block content %}
<div>
    <h1 style="margin-bottom: 1.5rem; text-align: center;">Upload Pictures</h1>
    <form method="post" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        <input type="file" name="images" multiple style="margin-bottom: 1rem;">
        <br>
        <input type="submit" value="Upload" onclick="animateButton(this);" style="display: inline-block; padding: 0.8rem 2rem; margin-top: 0.5rem; border: none; background-color: #4CAF50; color: white; font-size: 1rem; text-decoration: none; text-align: center; cursor: pointer; border-radius: 0.25rem;">
    </form>
</div>

<script>
    function animateButton(button) {
        button.classList.add('animated');
        setTimeout(function() {
            button.classList.remove('animated');
        }, 500);
    }
</script>

<style>
    .animated {
        animation-name: buttonAnimation;
        animation-duration: 0.4s;
    }

    @keyframes buttonAnimation {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }
</style>
{% endblock %}
