<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
    }

    #navigation {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
    }

    #navigation a {
      margin-right: 10px;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div id="navigation">
    <a href="{% url 'upload' %}">Upload</a>
    <a href="{% url 'gallery' %}">Gallery</a>
    <a href="/admin/">Admin Site</a>
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
