{% extends 'base.html' %}

{% block content %}
    <div id="main-container">
        <div id="upload-container">
            <h1 style="margin-bottom: 1.5rem; text-align: center;">Upload Pictures</h1>
            <form method="post" enctype="multipart/form-data" style="text-align: center;">
                {% csrf_token %}
                <div class="form-group">

                    <input type="file" name="images" accept="image/*" multiple required style="margin-bottom: 1rem;">
                    <br>
                    <input type="submit" value="Upload" onclick="animateButton(this);"
                           style="display: inline-block; padding: 0.8rem 2rem; margin-top: 0.5rem; border: none; background-color: #4CAF50; color: white; font-size: 1rem; text-decoration: none; text-align: center; cursor: pointer; border-radius: 0.25rem;">
                </div>
            </form>
        </div>

        <div id="gallery-container">
            <h2>Image Gallery</h2>
            <div id="image-gallery">
                {% for picture in pictures %}
                    <div class="gallery-item">
                        <a href="{% url 'annotation' picture.id %}">
                            <img src="{{ picture.image.url }}" alt="Image">
                        </a>
                        <div class="image-title">
                            <a href="{% url 'annotation' picture.id %}" class="text-link">
                                {{ picture.image.name}}
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <p>No images found in the gallery.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        function animateButton(button) {
            button.classList.add('animated');
            setTimeout(function () {
                button.classList.remove('animated');
            }, 500);
        }
    </script>

    <style>

        @keyframes buttonAnimation {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(0.9);
            }
            100% {
                transform: scale(1);
            }
        }

        #main-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start; /* Align items at the top */
        }

        #upload-container {
            flex-basis: 40%; /* Adjust the width as needed */
            margin-right: 20px; /* Add some spacing between the form and gallery */
            text-align: center;
            padding-right: 10px; /* Add some padding to separate the content from the border */
        }

        #upload-container h2 {
            margin-bottom: 10px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        label {
            display: block;
        }

        input[type="file"] {
            display: block;
            margin-top: 5px;
        }

        input[type="submit"] {
            background-color: #337ab7;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        #upload-container, #gallery-container {
            flex: 1;
            padding: 20px;
        }

        #upload-container form {
            margin-bottom: 20px;
        }

        #image-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            justify-items: center;
        }


        .gallery-item {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        .gallery-item:hover {
            /* transform: translate3d(-30px); */
            transform: scale(1.2);
        }

        .gallery-item img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .image-title {
            margin-top: 5px;
            font-size: 14px;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .text-link {
            text-decoration: none;
            color: #666;
            cursor: pointer;
        }

        #gallery-container {
            flex-basis: 60%; /* Adjust the width as needed */
            text-align: center;
            position: relative; /* Add position relative */
        }

    </style>
{% endblock %}
