{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Image Gallery</h1>


        <div id="gallery">

            {% for picture in pictures %}
                <div class="image-wrapper">
                    <a href="{% url 'annotation' picture.id %}">
                        <img src="{{ picture.image.url }}" width="200" height="200" alt="Image">
                    </a>
                    <div class="image-name">
                        <a href="{% url 'annotation' picture.id %}">{{ picture.image.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .image-wrapper {
            flex-basis: 20%;
            padding: 5px;
            box-sizing: border-box;
        }

        .image-wrapper img {
            display: block;
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }

        .image-wrapper .image-name {
            margin-top: 5px;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
{% endblock %}


